<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="header">
<%= devise_error_messages! %>
<p>Sign up</p>
  
  </div>

  <div class="field">
  
    <%= f.email_field :email, {id: "username", class: "button", placeholder: "email", autofocus: true} %><br>
      <%= f.label :email %><br>

  <!-- <div class="field"> -->
    

    
    <%= f.password_field :password, {id: "password", class: "button", placeholder: "Password", autocomplete: "off"} %><br>
   <%= f.label :password %> <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <br>


 <!--  <div class="field"> -->
    
    <%= f.password_field :password_confirmation, {id: "password", class: "button", placeholder: "Password", autocomplete: "off"} %>
    <%= f.label :password_confirmation %>
  </div>


<div class="actions">
    <%= f.submit " Sign Up", {id: "submit", class: "button"} %>
  </div>
<!-- 
  <div class="actions">
    <%#= f.submit "Sign up" %>
  </div> -->


<div class="footer">
<p><%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_session_path(resource_name) %><br />
<% end -%></p>
</div>


<% end %>

<%#= render "devise/shared/links" %>
