
<%= form_for(@student, class: 'form-inline')  do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
  
    Exams number <%= f.text_field :exams_number, class: 'form-control', placeholder: 'Exams number' %>
  </div>

  <div class="form-group">
    
    Last name <%= f.text_field :last_name , class: 'form-control', placeholder: 'Last'%>
  </div>
  
  <div class="form-group">
    First name
    <%= f.text_field :first_name, class: 'form-control', placeholder: 'First' %>
  </div>
  
  <div class="form-group">
    Username
    <%= f.text_field :username, class: 'form-control', placeholder: 'Username' %>
  </div>
 
  <div class="form-group">
  Password
    <%= f.text_field :password, class: 'form-control', placeholder: 'Password' %>
  </div>
  
  <div class="actions">
    <%= f.submit "Submit", :class => 'btn btn-primary block' %>
  </div>
<% end %>





