<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row">
    <center>
    <div class="col-xs-10">



<h1>List of Students</h1>
<table class="rwd-table">
  <tr>
    <th>Exams Number</th>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Username</th>
    <th>Password</th>
    <th colspan="3"></th>
  </tr>

   <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.exams_number %></td>
        <td><%= student.last_name %></td>
        <td><%= student.first_name %></td>
        <td><%= student.username %></td>
        <td><%= student.password %></td>
      


        <td><%= link_to 'Results', student_subject_details_path(student, @subject_detail) %></td>
        <td><%= link_to 'Update', edit_term_student_path(@term, student) %></td>
        <td><%= link_to 'Delete', term_student_path(@term, student), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%#= link_to 'View Result', student_subject_details_path(@student, @subject_detail) %></td>
        </tr>
    <% end %>
  </tbody>
</table>



</div>
</center>




  <div class="col-xs-2">
<%= link_to '<i class="glyphicon, glyphicon-plus"></i> New Student'.html_safe, new_term_student_path(@term), class: 'btn btn-default btn-lg' %>
    <br>
   <%= link_to '<< Back'.html_safe, url_for(:back), class: 'btn btn-default btn-lg' %>

    <%#= link_to '<< Back'.html_safe, terms_path, class: 'btn btn-default btn-lg' %>
  </div>
</div>
</div>




