<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <center>
    <div class="col-xs-10">

<h1>Listing Terms</h1>

<table class="rwd-table">

    <tr>
      <th>Terms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @terms.each do |term| %>
      <tr>
        <td><%= term.term %></td>
        <td><%= link_to 'View Students', term_students_path(term, @student) %></td>
        <!-- <td><%#= link_to 'Show', term_path(term) %></td> -->
        <td><%= link_to 'Edit', edit_classroom_term_path(@classroom, term) %></td>
        <td><%= link_to 'Destroy', classroom_term_path(@classroom, term), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</center>




  <div class="col-xs-2">
<%= link_to '<i class="glyphicon, glyphicon-plus"></i> New Term'.html_safe, new_classroom_term_path(@classroom), class: 'btn btn-default btn-lg' %>

<%= link_to '<< Back'.html_safe, classrooms_path, class: 'btn btn-default btn-lg' %>

    
  </div>
</div>
</div>

