<%= form_for [@student, @subject_detail] do |f| %>
  <% if @subject_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject_detail.errors.count, "error") %> prohibited this subject_detail from being saved:</h2>

      <ul>
      <% @subject_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  
    Subject Code <%= f.text_field :subject_code, class: 'form-control', placeholder: 'Subject code' %>
  </div>
  
  <div class="form-group">
   
    Subject name <%= f.text_field :subject_name, class: 'form-control', placeholder: 'Subject name' %>
  </div>

  <div class="form-group">
  
    Mark <%= f.text_field :mark, class: 'form-control', placeholder: 'Mark' %>
  </div>

  <div class="form-group">
    
    Grade <%= f.number_field :grade, class: 'form-control', placeholder: 'Grade' %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", :class => 'btn btn-primary block' %>
  </div>
<% end %>






