<div class="container">
<div class="row">
<div class="col-xs-4">
<p id="notice"><%= notice %></p>


<p>
  <strong>Subject code:</strong>

  <%= @subject_detail.subject_code %>
</p>

<p>
  <strong>Subject name:</strong>
  <%= @subject_detail.subject_name %>
</p>

<p>
  <strong>Mark:</strong>s
  <%= @subject_detail.mark %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @subject_detail.grade %>
</p>

<%= link_to 'Edit', edit_term_subject_detail_path(@term, @subject_detail) %> |
<%= link_to 'Back', term_subject_details_path(@term) %>|
<%= link_to 'Add another Subject', new_term_subject_detail_path(@term) %>

</div>
<div class="col-xs-4" style="color:#34495E;">

</div>

<div class="col-xs-4"></div>
</div>
</div>





