<!DOCTYPE html>
<html>
<head>
  <title>Check</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
        
      <%= image_tag("admin.png", size: "54") %>Administrator

      

    </div>
  </div>
</nav>


<%= yield %>


</body>
</html>
