<!DOCTYPE html>
<html>
<head>
  <title>Check</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track' => true %>
<!-- </head>
<body -->
<!-- <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid"  style="color:#FFFFF">
    <div class="navbar-header">
        
    <%#= image_tag("admin.png", size: "54") %>

      <%#= link_to '<i class="glyphicon, glyphicon-plus"></i> New Student'.html_safe, new_student_path, class: 'btn btn-default btn-lg' %> 


      <%#= link_to(image_tag("admin.png", size: "54"), students_path) %>

    </div>
  </div>
</nav> -->

<!-- <br>
<br>
<br>
<%#= yield %> -->


<!-- </body>
</html> -->

<!-- <html>
  <head> -->
    <meta charset="utf-8">
    
    <link rel="stylesheets" href="devise.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div class="container-fluid"> 
  <h1 id="checking"><strong>check</strong></h1>
  </div>
  <%= yield %>
  <!-- <br>
 
    <form action="#" method="post" name="sign_in_form">
      <div class="header">
        <p><strong>Sign In</strong></p>
      </div>
      <div>
        <input type="text" class="button" id="username" name="username" placeholder="Username"><br>
        <input type="password" class="button" id="password" name="password" placeholder="Password"><br>
        <input type="submit" class="button" id="submit" value="Sign In"><br>
      </div>
      <div class="optional">
        <a href="#">Forgot password?</a>
        <span id="space"></span>
        <input type="checkbox" id="remember" name="remember">
          <label for="remember"><span></span>Remember me</label>
      </div>
      <div class="footer">
        <p>New here? <span><a href="#">Sign up</a></span></p>
      </div>
    </form> -->
  </body>
</html>